Repository doinki/eslint-plugin-trim: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: Add .nvmrc
  .nvmrc
Due: none

chore: Update release workflow
  .github/workflows/release.yml
Due: prettier --write

chore: Update workflow name
  .github/workflows/ci.yml
Due: prettier --write

chore: Add publishConfig with public access in package.json
  package.json
Due: prettier --write

feat: Add support for customizable attributes in class-name rule
  .changeset/red-glasses-vanish.md
  docs/rules/class-name.md
  src/lib/rules/class-name.ts
  test/class-name.test.ts
Due: eslint --fix, prettier --write

chore: Bump dependencies
  .changeset/calm-cycles-raise.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Add support for customizable attributes in class-name rule (#3)
  .changeset/calm-cycles-raise.md
  .changeset/red-glasses-vanish.md
  docs/rules/class-name.md
  package.json
  pnpm-lock.yaml
  src/lib/rules/class-name.ts
  test/class-name.test.ts
Due: eslint --fix, prettier --write

feat: Update to support ESLint v9
  .babelrc.json
  .browserslistrc
  .changeset/lucky-vans-hug.md
  .eslintrc.js
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .lintstagedrc.json
  .nvmrc
  LICENSE
  README.md
  docs/rules/argument.md
  docs/rules/class-name.md
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/lib/rules/argument.ts
  src/lib/rules/class-name.ts
  test/argument.test.ts
  test/class-name.test.ts
  tsconfig.json
  tsup.config.ts
Due: eslint --fix, prettier --write

docs: README
  README.md
Due: prettier --write

fix: Add schema to argument rule
  .changeset/forty-cherries-pull.md
  docs/rules/argument.md
  src/index.ts
  src/lib/rules/argument.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{cjs,js,jsx,mjs,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
